.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav_column {
  flex-direction: column;
  align-items: center;
  row-gap: 0.8em;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-size: 1.2em;
}

.nav__list_column {
  display: contents;
}

.nav__list_column .icon {
  filter: invert(1);
}

.nav__list_column:last-child .nav__link:first-child:has(.icon) {
  order: -1;
}

.nav__link {
  display: flex;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.nav__link:hover {
  transform: translateY(-1px);
  filter: drop-shadow(1px 1px 1px #0004);
}

.nav__link_active {
  position: relative;
  text-decoration: none;
  color: inherit;
  filter: hue-rotate(40deg);
  pointer-events: none;
}

.nav__link_active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  margin-bottom: -0.2em;
  background-color: #fff8;
}

@media (max-width: 768px) {
  .nav__list {
    column-gap: 0.8em;
  }
}

@media (prefers-color-scheme: dark) {
  .nav__list_column .icon {
    filter: invert(0);
  }
}
