.dropdown {
  position: relative;
  margin: 0.5em 0;
  padding: 0 0.75em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.75em;
  border-radius: 0.5em;
  border: 1px solid var(--color40);
  background-color: var(--color10);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;

  transition: border-color 0.25s ease-out;
  cursor: pointer;
}

.dropdown:hover {
  border-color: var(--color60);
}

.dropdown_m {
  height: 2.5em;
}

.dropdown_l {
  height: 3.5em;
}

.dropdown__control {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.75em;
}

.dropdown__control::after {
  content: '';
  width: 0.875rem;
  height: 0.875rem;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='50,85 100,35 86,21 50,57 14,21 0,35' fill='%23888'/%3E%3C/svg%3E");
}

.dropdown__control[aria-label='open']::after {
  transform: rotate(180deg);
}

.dropdown__title {
  color: var(--gray);
}

.dropdown__input {
  font-size: 1em;
  color: inherit;
  padding: 0;
  border: none;
  outline: none;
  pointer-events: none;
  background-color: transparent;
}

.options {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  left: 0;
  width: 100%;
  padding: 0.25em;
  box-sizing: border-box;
  border-radius: 0.5em;
  border: 1px solid var(--color40);
  background-color: var(--color10);
  z-index: 1;
}

.dropdown_m .options {
  top: 2.5em;
}

.dropdown_l .options {
  top: 3.5em;
}

.options_show {
  display: block;
}

.options__item {
  margin: 0.25em 0;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.375em;
  background-color: transparent;
}

.options__item_selected {
  background-color: var(--color40);
}

@media (hover: hover) {
  .options__item:hover {
    background-color: var(--color50a);
  }
}
