VITE_CTP_PROJECT_KEY=e-com1234
VITE_CTP_CLIENT_ID=
VITE_CTP_CLIENT_SECRET=
VITE_CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
VITE_CTP_API_URL=https://api.us-central1.gcp.commercetools.com
VITE_CTP_SCOPES=manage_project:e-com1234
