.popup {
  position: absolute;
  top: 10px;
  display: none;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid var(--color10);
  background-color: var(--color00);
  box-shadow: 0px 0px 10px 1px var(--color10);
}

.popup_active {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

@media (prefers-color-scheme: dark) {
  .popup {
    background-color: var(--color40);
  }
}
