.field {
  display: flex;
  flex-direction: column;
}

.field_check {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.label {
  font-weight: 500;
  margin-left: 0.5em;
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 0.2em 2em 0.2em 0.4em;
  border-radius: 8px;
  border: 1px solid var(--color90);
  background-color: transparent;
  font-size: 1.2em;
}

.input:focus-visible {
  outline: none;
}

.input_invalid {
  border: 1px solid rgb(241, 1, 1);
  box-shadow: 0px 0px 4px 0px rgb(241, 1, 1);
}

.message {
  position: absolute;
  top: 4em;
  color: rgb(241, 1, 1);
  font-size: 0.6em;
  line-height: 1;
}
