.title {
  margin: 20px 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 2px;
}

.link:hover {
  border-bottom: var(--color100) solid 1px;
}
