.form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
  width: 340px;
}

.register {
  display: flex;
  column-gap: 0.2em;
}

.register__link {
  text-decoration: none;
  color: var(--color70);
}

@media (hover: hover) {
  .register__link:hover {
    text-decoration: underline;
  }
}
