.cart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 4.75em 0 1em 0;
  padding: 1em 1.5em;
  border-radius: 8px;
  background-color: var(--color00);
}

.cart__items {
  flex-grow: 1;
}

.cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__total {
  font-size: 1.1em;
}

.cart__total_price {
  font-size: 1.2em;
  font-weight: 500;
}

.cart__clear_button {
  width: fit-content;
  height: fit-content;
  padding: 0.4em 0.8em;
  border: none;
  border-radius: 6px;
  background-color: var(--color40);
  font-size: 1em;
  cursor: pointer;
}

@media (hover: hover) {
  .cart__clear_button:hover {
    background-color: var(--color30);
  }
}

.cart__clear_button:active {
  background-color: var(--color50);
}

@media (max-width: 560px) {
  .cart {
    padding: 0 0.8em;
  }
}
