@import url(./fonts.css);
@import url(./variables.css);
@import url(./override.css);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--color00);
  color: var(--color100);
}

.body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .body {
    font-size: 14px;
  }
}
