:root {
  --font-inter: 'Inter', sans-serif;

  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  --color00: #ffffff;
  --color10: #def7e7;
  --color20: #9aeaae;
  --color30: #6ede8a;
  --color30a: #6ede8a80;
  --color40: #4ad66d;
  --color50: #2dc653;
  --color50a: #2dc65380;
  --color60: #25a244;
  --color70: #208b3a;
  --color80: #155d27;
  --color80a: #155d274a;
  --color90: #10451d;
  --color100: #041107;

  --gray: #888;
  --yellow: #990;
}

.dark {
  --color00: #000714;
  --color10: #00102d;
  --color20: #001845;
  --color30: #002855;
  --color30a: #00285580;
  --color40: #023e7d;
  --color50: #0353a4;
  --color50a: #0353a480;
  --color60: #166cc3;
  --color70: #2885e2;
  --color80: #4ba3fb;
  --color80a: #4ba3fb4a;
  --color90: #88c2fb;
  --color100: #fff;

  --yellow: #ee0;
}
