.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 60px;
  background-color: var(--color80);
  color: var(--color00);
}

.header__content {
  display: flex;
  align-items: center;
  column-gap: 2em;
  max-width: 1400px;
  width: 100%;
  margin: 0 2em;
}

.header__logo {
  font-size: 1.6em;
}

.nav {
  display: flex;
  column-gap: 1em;
  font-size: 1.2em;
}

.nav__link {
  text-decoration: none;
  color: var(--color10);
}

.nav__link_active {
  text-decoration: none;
  color: var(--color00);
}
