.catalog {
  display: flex;
  height: 100%;
  width: 100%;
}

.filters {
  flex: 0 0 16em;
  padding: 2em;
  background-color: var(--color30a);
}

.products {
  width: calc(100% - 18em);
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
