.card {
  padding: 1em;
  display: flex;
  gap: 1em;
}

.card__preview {
  flex-shrink: 0;
}

.card__info {
  width: calc(360px - 2em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info_title {
  font-size: 1.25em;
  font-weight: 600;
  margin: 0;
}

.card__info_attr_name {
  width: 10em;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}
