.button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px;
  outline: none;
  padding: 0.25em;
  background-color: var(--color50);
  border: 1px solid var(--color60);
  transition: background-color 0.25s linear;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--gray);
  border-color: var(--gray);
  cursor: default;
}

.button img {
  width: 1rem;
  height: 1rem;
  filter: invert(var(--dark-theme));
}

.button__loading {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (hover: hover) {
  .button:hover:not(:disabled) {
    background-color: var(--color40);
  }
}
