.form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.2em;
  max-width: 40em;
  margin: 4.75em auto 1em auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.form__group {
  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
}

@media screen and (max-width: 42em) {
  .form {
    max-width: 20em;
  }
}
