.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2em;
}

.form__buttons_cancel {
  margin-left: 0.8em;
  padding: 0.2em 1.5em;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid var(--color90);
  color: var(--dark-theme);
  font-size: 1.2em;
  cursor: pointer;
}

.form__buttons_cancel:hover {
  border: 1px solid var(--color20);
  background-color: var(--color20);
}

.form__buttons_cancel:active {
  border: 1px solid var(--color30);
  background-color: var(--color30);
}

.form__group {
  display: flex;
  gap: 1.2em;
  flex-wrap: wrap;
  justify-content: center;
}
