.title {
  font-weight: 500;
}

.button__back {
  margin-top: 1.5em;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  background-color: var(--color50);
  padding: 0.2em 2em;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
}
.button__back::before {
  content: '\2190';
  margin-right: 0.5em;
}
