.form_link {
  display: flex;
  column-gap: 0.2em;
}

.form_link__item {
  text-decoration: none;
  color: var(--color70);
}

@media (hover: hover) {
  .form_link__item:hover {
    text-decoration: underline;
  }
}
